:root {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

code {
  border: 1px solid;
  border-radius: 8px;
  display: inline-block;
  font-size: 13px;
  padding: 2px 6px;
}
